<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/base.css"/>
</head>
<body>
    This is the candidates page
    <form action="/candidates" method="post">
        <input type="text" name="username" placeholder="username"/>
        <input type="text" name="email" placeholder="email"/>
        <input type="submit"/>
    </form>
</body>
</html>